<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="containerd-flex justify-content-center">
          <h2>Share your inflatable</h2>
          <%= simple_form_for @inflatable do |f| %>
            <div class="form-inputs">
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :category, collection: ["toys", "costumes", "slides", "balloons", "pools"]%>
              <%= f.input :price %>
              <%= f.input :photo, as: :file%>
            </div>
              <div class="form-actions">
                <%= f.button :submit, class: "btn btn-primary" %>
              </div>
          <% end %>
      </div>
    </div>
    <div class="col-6">
      <img src="https://images.unsplash.com/photo-1501426026826-31c667bdf23d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2836&q=80"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
    </div>
  </div>
</div>
