<!-- Page Content -->
<div class="container">
  <h1 class="my-4"><%= @inflatable.title.upcase %></h1>
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" width="700" height="900" src="https://images.unsplash.com/photo-1603538966022-afcc0803652e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3"><%= @inflatable.title.capitalize %></h3>
        <p><%= @inflatable.description %></p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li><%= @inflatable.price %>€</li>
          <li><%= @inflatable.category %></li>
          <li><%= @inflatable.price %>€</li>
          <li><%= @inflatable.price %>€</li>
        </ul>
      </div>
    </div>
</div>
<!-- further recommendations-->
<%# iterate over show action / @inflatables %>
<div class="container">
  <h3 class="my-4">You might be interested in:</h3>
    <% @inflatables.each do |inflatable| %>
      <div class="">
        <%= link_to inflatables_path do %>
          <div class="card text-center text-white" style="background-color:#ffa82e00;">
            <div class="card photo" class="card-img-top">
              <img class="img-interest" src="https://3.imimg.com/data3/CD/LM/MY-19285799/inflatable-jumper-500x500.jpg" alt="">
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
