<!-- Page Content -->
<div class="container">
  <h1 class="my-4"><%= @inflatable.title.upcase %></h1>
    <div class="row">
      <div class="col-md-8">
        <%= cl_image_tag(@inflatable.photo.key, width: 700, height: 900, crop: :fill, class:"img-fluid") if @inflatable.photo.key %>
      </div>

      <div class="col-md-4">
        <h3 class="my-3"><%= @inflatable.title.capitalize %></h3>
        <p><%= @inflatable.description %></p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li><%= @inflatable.title %></li>
          <li><%= @inflatable.category %></li>
          <li><%= @inflatable.description %></li>
          <li><%= @inflatable.price %>€</li>
        </ul>
      </div>
    </div>
</div>
<!-- further recommendations-->
<%# iterate over show action / @inflatables %>
<div class="container">
  <h3 class="my-4">You might be interested in:</h3>
    <% @inflatables.each do |inflatable| %>
      <div class="">
        <%= link_to inflatables_path do %>
          <div class="card text-center text-white" style="background-color:#ffa82e00;">
            <div class="card photo" class="card-img-top">
              <img class="img-interest" src="https://3.imimg.com/data3/CD/LM/MY-19285799/inflatable-jumper-500x500.jpg" alt="">
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
