<h1>My Dashboard</h1>

  <h2>My Bookings</h2>
  <div class="row g-4">
      <% @my_bookings.each do |booking| %>
      <div class="col-12 col-sm-6 col-md-3">
      <div class="card-group">
        <div class="card h-100 card-style">
            <div class="inflatable">
              <%= cl_image_tag(booking.inflatable.photo.key, class: "card-img-top inflatable-img") if booking.inflatable.photo.key %>
            </div>
          <div class="card-body">
            <h6 class="card-subtitle "><%= booking.inflatable.category %></h6>
            <p class="card-title"><%= booking.inflatable.title %></p>
            <p class="card-label">Timescale</p>
            <p class="card-date"><%= booking.start_date %> - <%= booking.end_date %></p>
            <p class='booking-tag'><%= booking.status %></p>
            <div class="price-label text-center align-middle">
                  <h3 class="card-price">€ <%= booking.total_price %></h3>
            </div>
            <%# <%= booking.inflatable.photo.key %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between mt-4">
      <h2 class= "m-0">My inflatables</h2>
      <%= link_to "Add offer", new_inflatable_path, class:"btn btn-primary" %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @inflatables.each do |inflatable| %>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card-group">
          <div class="card h-100 card-style">
            <div class="inflatable">
                <%= cl_image_tag(inflatable.photo.key, class: "card-img-top inflatable-img") if inflatable.photo.key %>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle "><%= inflatable.category %></h6>
              <h2 class="card-title"><%= inflatable.title %></h2>
              <%# <p class="card-text"><%= inflatable.description</p> %>
              <div class="price-label text-center align-middle">
                  <h3 class="card-price">€ <%= inflatable.price %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between mt-4">
      <h2 class= "m-0">Booking requests</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @bookings_for_my_inflatables.each do |booking| %>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card-group">
          <div class="card h-100 card-style">
            <div class="inflatable">
                <%= cl_image_tag(booking.inflatable.photo.key, class: "card-img-top inflatable-img") if booking.inflatable.photo.key %>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle "><%= booking.inflatable.category %></h6>
              <h2 class="card-title"><%= booking.inflatable.title %></h2>
              <%# <p class="card-text"><%= inflatable.description</p> %>
              <div class="price-label text-center align-middle">
                  <h3 class="card-price">€ <%= booking.inflatable.price %></h3>
              </div>
                <div class="d-flex gap-4">
                  <% if booking.pending? %>
                    <div>
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
                        <%= f.submit 'Accept', class: 'btn btn-success mr-4' %>
                      <% end %>
                    </div>
                    <div>
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
                        <%= f.submit 'Reject', class: 'btn btn-light' %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="booking-tag-parent">
                      <p class="booking-tag"><%= booking.status %></p>
                    </div>
                  <% end %>
                </div>
              <%# <%= render "shared/booking_accept" %>
              <%# Do i need to pass any variable in this render? (as alex did in the lecture)%>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
